.posts-list-container {
    border-top: 1px solid #d9dde1;
    margin-right: 200px;
}
.posts-list-ul {
    padding-left: 0px;
}
.posts-list-container .posts-list-item {
    padding: 20px 24px;
    /*padding-top: 20px;*/
    border-bottom: 1px solid #d9dde1;
    list-style:none;
}

/*.re-response-container .response-list-main {*/
/*!*margin-left: 60px;*!*/
/*margin-left: 0px;*/

/*}*/
.posts-list-container .posts-list-item-nick {
    line-height: 1.2;
    margin-bottom: 8px;
    font-weight: bold;
}
.posts-list-container .response-list-content {
    margin-top: 3px;
    font-size: 14px;
    color: #14191e;
    line-height: 24px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
}
.posts-list-container .posts-list-item-btm {
    font-size: 12px;
    color: #93999f;
    margin-top: 15px;
}

/*"回复" 样式*/
.response-huifu{

    margin-top: 20px;
    float: right;
    font-size: 12px;
    margin-bottom: 0px;
}


.re-response-wrapper{
    margin-right: 5px;
    margin-left: 0;
    /*background: #f7f8fa;*/
    width: 568px;
    float: right;
}
/*core_rep*/
.re-response-wrapper .re-response-list{
    border-left: 10px solid #f0f1f2;
    border-right: 10px solid #f0f1f2;
    border-top: 10px solid #f0f1f2;
    border-bottom: 10px solid #f0f1f2;
    /*padding: 10px;*/

}

.re-response-ul{
    padding-left: 10px;
}
.re-response-li{
    margin-top: 6px;
    padding-top: 10px;
    border-top: 1px #d7d7d7 dotted;
    list-style:none;
}

.re-response-user-name{
    color: #2d64b3;
}
.re-response-huifu-time{
    float: right;
}
.re-response-huifu{


    font-size: 12px;
    margin-bottom: 0px;
    margin-right: 10px;
}
.re-response-time{
    color: #93999f;
    font-size: 12px;
    margin-bottom: 0px;
}
.re-response-textarea{
    width: 100%;
}

