/*---------------------------通用------------------------------*/
body {
    /*font-family: "Arial","Hiragino Sans GB","Microsoft YaHei", 微软雅黑, "Helvetica", "sans-serif";*/
}

/*样式清零*/
input, button, select, textarea {
    outline: none
}

textarea {
    resize: none;
    border: 1px solid #d9dde1;
    padding: 10px 10px;
    width: 100%;
    min-height:100px;
}


a, button {
    cursor: pointer;
}

.f-title {
    font-size: 15px;
    line-height: 1.66;
    font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, "Helvetica", "sans-serif";
}

.bottom-line {
    border-bottom: #eee 1px solid;
}

.right {
    float: right;
}

.left {
    float: left;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
}

.divider-color {
    color: #d9dde1;
}

/*#container {*/
/*width: 700px;*/
/*height: auto;*/
/*}*/

.ueditor {
    margin-top: 30px;
    height: 200px;
}

input:focus {
    border: 1px solid #337AB7;
}

.nick-color {
    color: #337ab7;
}

/**按钮**/

.u-btn {
    height: 34px;
    margin-left: 10px;
    border: 1px #337AB9 solid;
    border-radius: 3px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding: 3px 18px;
    display: inline-block;
}

.btn-whiteBlue {
    background-color: #fff;
    color: #337AB9;
}

.p-btn {
    background-color: #337ab9;
    color: #fff;
    height: 34px;
    border: 1px #337AB9 solid;
    border-radius: 3px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding: 3px 18px;
    display: inline-block;
}


.p-btn-sm {
    background-color: #337ab9;
    color: #fff;
    height: 25px;
    border: 1px #337AB9 solid;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 2px 8px;
    display: inline-block;

}







/****************************************侧边导航栏**************************/

#tabs > ul > li > ul {
    display: none;
}

#tabs > ul > li:hover ul {
    display: block;
}

/*#tabs>ul>li:hover ul li a:visited {*/
/*background-color: #0000cc;*/
/*}*/

#tab_content_area {
    padding-bottom: 100px;
}

/*--------------------------课程信息---------------------------*/
#course_detail {
    background: #F8F8F8;
    padding: 0 20px 0 20px;
    margin: 20px 0px 0 0;
    float: left;
    width: 70%;
}

#course_detail p {
    font-size: 12px;
    line-height: 2.1;
}

#teacher_list {
    margin-top: 20px;
    padding: 0 15px 10px 15px;
    background: #F8F8F8;
    float: right;
    width: 25%;

}

#teacher_list h4 {
    margin-left: 12px;
}

/*----------------------------课件资料-------------------------------*/
#courseware_pane {
    margin-right: 15px;
}

#courseware_pane button {
    text-align: left;
    margin: 5px 0 10px 0;
}

#course_ppt .download-btn {
    float: right;
    vertical-align: middle;
}

#course_ppt .download-btn {
    cursor: pointer;
}

#course_ppt .each_datum {
    padding: 0px 10px 0 35px;
    border-bottom: #e2e2e2 1px dashed;
}

#course_ppt .each_datum a {
    font-size: 15px;
    line-height: 2;
    font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, "Helvetica", "sans-serif";
}

#course_ppt .each_datum:last-child {
    border-bottom: none;
}

#courseware_pane .titleBox {
    background-color: #E8F9FF;
    padding: 8px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

#courseware_pane .titleBox:hover {
    background-color: #d2eff7;
}

#courseware_pane .titleBox .glyphicon {
    margin-right: 10px;
}

/*-----------------------------------讨论区-----------------------------*/

.f-discuss-header {
    font-size: 18px;
    line-height: 35px;
    font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, "Helvetica", "sans-serif";
}

#choose_posts_catagory {
    margin: 0px 5px 0px 5px;

}

input[name="search_post"] {
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    height: 34px;
    width: 250px;
}

#discuss_header {
    min-height: 45px;
}

.search_post_btn {
    margin: 0px 5px 0px 5px;
}

.search_post_area {
    float: right;
}


#goto_issue_post_page_btn {
    margin: 30px 0px 30px 0px;
}

.p-btn:hover {
    background-color: #2aabd2;
    border: 1px #2aabd2 solid;
}

.f-sub-border {
    font-size: 18px;
    line-height: 25px;
    font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", 黑体, "Helvetica", "sans-serif";
    margin-bottom: 0px;
    margin-top: 0px;
}

.post-border-item {
    border-bottom: 1px #eee solid;
    padding-bottom: 9px;
    padding-top: 9px;
}

/*发布帖子页面*/
.f-placeholder {
    font-size: 15px;
    color: #999999;
}

#sel_post_catagory_ddMenu {
    margin-bottom: 15px;
}

#sel_post_catagory_ddMenu .f-placeholder {
    margin-right: 10px;
}

.f-sign {
    font-weight: bold;
    color: #cc3333;
    padding-right: 5px;
    vertical-align: middle;
}

input[name="post_title"] {
    display: block;
    width: 500px;
}

.post-title-field {
    margin-bottom: 15px;
}

#submit_post_btn {
    margin-top: 50px;
    margin-left: 0px;
}

#select_posts_catagory > div:first-child {
    margin: 5px 0px;
}

/*显示帖子列表页面*/

#posts_border_page {
    padding: 0 24px 0 24px;
}

.posts-list-container {
    border-top: 1px solid #d9dde1;
    /*margin: 0 24px 0 24px;*/
}

.posts-list-ul {
    padding-left: 0px;
    margin: 0;
}

.posts-list-container .posts-list-item {
    padding: 0.7em 0 0.7em 0;
    border-bottom: 1px solid #d9dde1;
    list-style: none;
    overflow: hidden;
}

.posts-list-item-title {
    line-height: 1.2;
    margin-bottom: 8px;
    font-weight: normal;
}

.posts-list-container .response-list-content {
    margin-top: 3px;
    font-size: 14px;
    color: #14191e;
    line-height: 24px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
}

.posts-list-container .posts-list-item-btm {
    font-size: 12px;
}

.posts-list-container .posts-list-item-nick {
    color: #337ab7;
}

.posts-list-container .posts-list-item-date {
    color: #93999f;
}

/***************************************单个帖子详情页面******************************/
#post_detail_page {
    margin: 10px 200px 0 5px;
}

.post-detail {
    background: #F8F8F8;
    /*width: 75%;*/
    padding: 0px 20px 10px 20px;
    margin-bottom: 40px;
}

.post-detail:after {
    content: '.';
    visibility: hidden;
    clear: both;
    height: 0;
    display: block;
}

.post-detail-btm {
    font-size: 12px;
    /*border-bottom: 1px #d9dde1 solid;*/
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.f-post-title {
    font-size: 1.25em;
    line-height: 3;
}

.f-post-content {
    font-size: 0.9em;
    line-height: 1.2;
    color: #666;
}

.f-post-date {
    color: #999;
}

.f-post-author {
    font-size: 0.9em;
    color: #337ab7;
}

.f-post-comment-num {
    line-height: 1.5;
    font-size: 1.1em;
}

.post-comment-btn {
    margin-right: 5px;
}

.post-comments-area {
    /*border-radius: 2%;*/
    margin-top: 5px;
    padding: 10px 10px;
    border: 1px solid #d9dde1;
    float: right;
    width: 75%;
    font-size: 0.9em;
    line-height: 1.2;
}

.post-comment {
    border-bottom: 1px #d9dde1 solid;
    padding-bottom: 6px;
    margin-bottom: 8px;
}

.post-comment-area-body {

}
.post-comment:last-child {
    border-bottom: none;
    /*margin-bottom: -8px;*/
}

.post-comments-area .post-comment-content {
    margin-bottom: 8px;
}

.add-post-comment {
    border: 1px #d9dde1 solid;
    padding: 10px 10px;
    color: #999;

}

.add-post-comment:hover {
    cursor: pointer;

}

/*返回按键*/
.back_text {
    margin: 5px 0px 15px 0px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #eee;
}

.back_text span {
}

.back_text a {
    color: #000;
    /*line-height: 20px;*/
}

.post-title-field > div {
    margin: 0 0 5px 0;
}

.field-label-margin {
    margin: 5px 0px 5px 0;
}

/***********************************************************************************************/
/******************************************组队区*********************************************/
/***********************************************************************************************/

/*创建队伍页面*/

#create_team_pane input {
    width: 40%;
}

.form-field {
    margin: 20px 0 20px 0;
}

#create_team_btn {
    margin-top: 10px;
}

/*加入队伍页面*/
#join_team_pane {
    width: 80%;
}

.f-prompt {
    font-size: 20px;
}

#join_team_by_pass_pane input {
    width: 40%;
}