/*#tabs {*/
    /*text-align: center;*/
/*}*/

/*#tabs ul {*/
    /*padding-left: 0px;*/
    /*padding-bottom: 0px;*/
    /*background-color: #ffffff;*/
/*}*/
/*#tabs ul li {*/
    /*margin-top: -1px;*/
    /*border: #e2e2e2 1px solid;*/
    /*list-style-type: none;*/
    /*width: 100%;*/
    /*padding: 0 0 0 0;*/
/*}*/

/*#tabs ul li.active {*/
    /*background: #13A654;*/
/*}*/

/*#tabs ul li a.active {*/
    /*color: white;*/
/*}*/
/*#tabs ul li a {*/
    /*font-size: 16px;*/
    /*line-height: 40px;*/
    /*font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, "Helvetica", "sans-serif";*/
    /*color: #000;*/

/*}*/

/*#tabs ul li:hover {*/
    /*background: #eeeeee;*/
/*}*/
#learn_content {
}

#intro_course_part {
    background: #F8F8F8;
    padding: 0 20px 0 20px;
    margin: 20px 0px 0 0;
    float: left;
    width: 70%;
}

#intro_course_part p {
    font-size: 12px;
    line-height: 25px;
}
#intro_teacher_part {
    margin-top: 20px;
    padding: 0 15px 10px 15px;
    background: #F8F8F8;
    float: right;
    width: 25%;
}

#intro_teacher_part h4 {
    margin-left: 12px;
}

