#show_article_button{
    float: right;
    margin-top: 10px;
}


#show_article_margin{
   margin-top: 10px;
    float: right;
}


#add_student_button{
    float: right;
    margin-top: 10px;
}



/*发布文章的两个按钮*/

#cancel_write_article{
    float: right;
    margin-top: 10px;
}

#final_write_article{
    margin-top: 10px;
    float: right;
}

/*---button for write a article---*/

#write_article_button{
    margin-top: 0px;
    float: right;
}




.cancel-ok-button{
    margin-top: 10px;
    float: right;
}

/*发布文章时的标题*/
.subtit {
    margin: 6px 0px;
    border-bottom-color: #f0f0f0;
}