#show_article_button{
    float: right;
    margin-top: 10px;
}


#show_article_margin{
   margin-top: 10px;
    float: right;
}


#add_student_button{
    float: right;
    margin-top: 10px;
}



/*发布文章的两个按钮*/

#cancel_write_article{
    float: right;
    margin-top: 10px;
}

#final_write_article{
    margin-top: 10px;
    float: right;
}





/*博客样式*/
.blog_list{
    margin-bottom: 5em;
    position: relative;
}

.blog_list_left{
    position: absolute;
    top: 0.5em;
    left: -200px;
    width: 180px;
    font-size: 85%;
}

.blog_list_left .date {
    font-weight: bold;
    font-size: 120%;
}
.blog_list_left .author{
    display: block;
    margin-bottom: 0.5em;
}

/*发布文章时的标题*/
.subtit {
    margin: 6px 0px;
    border-bottom-color: #f0f0f0;
}