
#add_stu_button{
    float: left;
    margin-top: 10px;
}


#add_stu_select{
    margin-top: 10px;
}

#add_stu_hint{
    margin-top: 15px;
}

#add_stu_final{
    margin-top: 10px;

}

#cancel_stu_button{
    float: right;
    margin-top: 10px;
}

/*确定录入button*/
#add_stu_final{
    margin-top: 10px;
    float: right;

}