#show_article_button{
    float: right;
    margin-top: 10px;
}


#show_article_margin{
   margin-top: 10px;
    float: right;
}


#add_student_button{
    float: right;
    margin-top: 10px;
}

.pl-container {
    border-top: 1px solid #d9dde1;
}
.pl-list {
    padding: 20px 24px;

    border-bottom: 1px solid #d9dde1;

}