#pageContent {
    margin-top: 20px;
}

.content-blk, .old, .hide {
    display: none;
}

.row > h2, .row > h5 {
    text-align: center;
}

.clickable:hover {
    cursor: pointer;
    color: red;
}
.badge:hover {
    background-color: grey!important;
}

legend {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    margin-left: 10px;
}

fieldset {
    border: 1px solid silver;
    margin-bottom: 10px;
}

.well {
    margin-bottom: 0;
    font-size: smaller;
}

