#show_article_button{
    float: right;
    margin-top: 10px;
}


#show_article_margin{
   margin-top: 10px;
    float: right;
}


#add_student_button{
    float: right;
    margin-top: 10px;
}



/*发布文章的两个按钮*/

#cancel_write_article{
    float: right;
    margin-top: 10px;
}

#final_write_article{
    margin-top: 10px;
    float: right;
}

/*---button for write a article_mod---*/

#write_article_button{
    margin-top: 0px;
    float: right;
}




.cancel-ok-button{
    margin-top: 10px;
    float: right;
}

/*发布文章时的标题*/
.subtit {
    margin: 6px 0px;
    border-bottom-color: #f0f0f0;
}




/***************************************单个帖子详情页面******************************/
#post_detail_page {
    margin: 10px 200px 0 5px;
}

.post-detail {
    background: #F8F8F8;
    /*width: 75%;*/
    padding: 0px 20px 10px 20px;
    margin-bottom: 40px;
}

.post-detail:after {
    content: '.';
    visibility: hidden;
    clear: both;
    height: 0;
    display: block;
}

.post-detail-btm {
    font-size: 12px;
    /*border-bottom: 1px #d9dde1 solid;*/
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.f-post-title {
    font-size: 1.25em;
    line-height: 3;
}

.f-post-content {
    font-size: 0.9em;
    line-height: 1.2;
    color: #666;
}

.f-post-date {
    color: #999;
}

.f-post-author {
    font-size: 0.9em;
    color: #337ab7;
}

.f-post-comment-num {
    line-height: 1.5;
    font-size: 1.1em;
}

.post-comment-btn {
    margin-right: 5px;
}

.post-comments-area {
    /*border-radius: 2%;*/
    margin-top: 5px;
    padding: 10px 10px;
    border: 1px solid #d9dde1;
    float: right;
    width: 75%;
    font-size: 0.9em;
    line-height: 1.2;
}

.post-comment {
    border-bottom: 1px #d9dde1 solid;
    padding-bottom: 6px;
    float: none;
    margin-bottom: 8px;
}

.post-comment-area-body {

}
.post-comment:last-child {
    border-bottom: none;
    /*margin-bottom: -8px;*/
}

.post-comments-area .post-comment-content {
    margin-bottom: 8px;
}

.add-rere {
    border: 1px #d9dde1 solid;
    padding: 10px 10px;
    color: #999;

}

.add-rere:hover {
    cursor: pointer;

}

/*返回按键*/
.back_to_discuss_home_page {
    margin: 5px 0px 15px 0px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #eee;
}

.back_to_discuss_home_page span {
}

.back_to_discuss_home_page a {
    color: #000;
    /*line-height: 20px;*/
}

.post-title-field > div {
    margin: 0 0 5px 0;
}

.field-label-margin {
    margin: 5px 0px 5px 0;
}



/*-----------------------------------讨论区-----------------------------*/

.f-discuss-header {
    font-size: 18px;
    line-height: 35px;
    font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, "Helvetica", "sans-serif";
}

#choose_posts_catagory {
    margin: 0px 5px 0px 5px;

}

input[name="search_post"] {
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    height: 34px;
    width: 250px;
}

#discuss_header {
    min-height: 45px;
}

.search_post_input {
    margin: 0px 5px 0px 5px;
}

.search_post_area {
    float: right;
}


#goto_issue_post_page_btn {
    margin: 30px 0px 30px 0px;
}

.p-btn:hover {
    background-color: #2aabd2;
    border: 1px #2aabd2 solid;
}

.f-sub-border {
    font-size: 18px;
    line-height: 25px;
    font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", 黑体, "Helvetica", "sans-serif";
    margin-bottom: 0px;
    margin-top: 0px;
}

.post-border-item {
    border-bottom: 1px #eee solid;
    padding-bottom: 9px;
    padding-top: 9px;
}

/*发布帖子页面*/
.f-placeholder {
    font-size: 15px;
    color: #999999;
}

#sel_post_catagory_ddMenu {
    margin-bottom: 15px;
}

#sel_post_catagory_ddMenu .f-placeholder {
    margin-right: 10px;
}

.f-sign {
    font-weight: bold;
    color: #cc3333;
    padding-right: 5px;
    vertical-align: middle;
}

input[name="post_title"] {
    display: block;
    width: 500px;
}

.post-title-field {
    margin-bottom: 15px;
}

#submit_post_btn {
    margin-top: 50px;
    margin-left: 0px;
}

#select_posts_catagory > div:first-child {
    margin: 5px 0px;
}

/*显示帖子列表页面*/

#posts_border_page {
    padding: 0 24px 0 24px;
}

.posts-list-container {
    border-top: 1px solid #d9dde1;
    /*margin: 0 24px 0 24px;*/
}

.posts-list-ul {
    padding-left: 0px;
    margin: 0;
}

.posts-list-container .posts-list-item {
    padding: 0.7em 0 0.7em 0;
    border-bottom: 1px solid #d9dde1;
    list-style: none;
    overflow: hidden;
}

.posts-list-item-title {
    line-height: 1.2;
    margin-bottom: 8px;
    font-weight: normal;
}

.posts-list-container .response-list-content {
    margin-top: 3px;
    font-size: 14px;
    color: #14191e;
    line-height: 24px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
}

.posts-list-container .posts-list-item-btm {
    font-size: 12px;
}

.posts-list-container .posts-list-item-nick {
    color: #337ab7;
}

.posts-list-container .posts-list-item-date {
    color: #93999f;
}
